.long-text {
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-tree-child-tree > li:first-child,
.ant-tree li {
  padding: 0;
}

.ant-tree li span.ant-tree-switcher {
  padding-top: 5px;
}

.ant-tree li .ant-tree-node-content-wrapper {
  height: auto;
}
